@font-face {
    font-family: 'Acumin-BdPro';
    src: url("./fonts/Acumin-BdPro.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-mask{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.347);
}

.cursor{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.523);
    z-index: 100;
}

.cursor-blur{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.322);
    z-index: 9;
}

.nav{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav h3{
    text-transform: uppercase;
    font-size: 1.1vw;
    font-family: 'Acumin-BdPro';
}

.nav-center, .nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.nav-center{
    margin-right: 80px;
}

.nav-left{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.nav-center h3{
    color: #E9A802;
}

.nav-right i{
    font-size: 1.6vw;
}

.main > img{
    height: 80%;
    object-fit: cover;
    position: relative;
    z-index: 10;
    transition: all ease 0.3s;
}

.scroll-div{
    position: absolute;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#top{
    top: 30%;
    z-index: 9;
}

#middle{
    top: 42%;
    z-index: 11;
}

#bottom{
    top: 54%;
    z-index: 9;
}

.scroll-div h1{
    display: inline-block;
    text-transform: uppercase;
    font-size: 8vw;
    font-weight: 900;
    font-family: 'Acumin-BdPro';
    margin-right: 10px;
    animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;   
}

.scroll-div::-webkit-scrollbar{
    display: none;
}

#middle h1{
    color: transparent;
    -webkit-text-stroke: 2px black;
    animation-name: reverse-scroll;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;  
}

.intro{
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.intro h2{
    text-transform: uppercase;
    line-height: 10px;
    font-family: 'Acumin-BdPro';
}

.left-intro{
    height: 100px;
    width: 200px;
    position: absolute;
    left: 20px;
    top: 15%;
}

.left-intro h3{
    text-transform: uppercase;
    font-family: 'Acumin-BdPro';
}

#play, #video{
    color: #E9A802;
}

.right-intro{
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 20px;
    bottom: 15%;
}

.right-intro h3{
    text-transform: uppercase;
    font-size: 1.3vw;
    font-family: 'Acumin-BdPro';
}

.footer{
    height: 50px;
    width: 100%;
    /* background-color: #E9A802; */
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer h4{
    text-transform: uppercase;
    font-family: 'Acumin-BdPro';
    font-size: 0.9vw;
}

.left-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.left-footer i{
    font-size: 1.5vw;
}

.right-footer h4{
    text-decoration: underline;
}

@keyframes scroll {
    0%{
        transform: translateX(calc(-100% - 11px));
    }100%{
        transform: translateX(0);

    }
}

@keyframes reverse-scroll {
    0%{
        transform: translateX(0);
    }100%{
        transform: translateX(calc(-100% - 11px));
    }
}